/*Post Styles*/
.likesWrap {
  display: flex;
  flex-direction: row;
}
.likes {
  align-self: flex-start;
  flex-grow: 1;
}
.likeBtn {
  align-self: flex-end;
  cursor: pointer;
}
.postBody {
  font-size: 21px;
}
.post hr {
  width: 89%
}
.post {
  width: 300px;
}

.App, html, body {
  position: relative;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.Map {
  height: 100%;
  position: relative;
}

.mapWrap {
  width: 100%;
  height: 100%;
  position: absolute;
}

.flex {
  flex-grow: 15;
  display: flex;
  position: relative;
}

.Nav i {
  cursor: pointer;
}

.Nav {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  background-color: #04d3bc;
}

.hamburgerBtn {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileBtn {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mapBtn {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Input, .Profile {
  position: absolute;
}

.Input {
  height: 50%;
  width: 100%;
}

.messageBox {
  display: 'block';
    width: '100%';
    height: '100%';
}

.Profile {
  width: 50vw;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

