* {
  font-family: 'Source Sans Pro', sans-serif;
} 



/*Post Styles*/
.likesWrap {
  display: flex;
  flex-direction: row;
}
.likes {
  align-self: flex-start;
  flex-grow: 1;
}
.likeBtn {
  align-self: flex-end;
  cursor: pointer;
}
.postBody {
  font-size: 21px;
}
.post hr {
  width: 89%
}
.post {
  width: 300px;
}




/*Nav styles*/

.active_btn {
  border-bottom: 4px solid whitesmoke;
  color: whitesmoke;
}

.Nav i {
  cursor: pointer;
}

.Nav {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  background-color: #04d3bc;
}



.profileBtn, .mapBtn, .msgBtn {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-out;
}

.mapBtn {
  background: #967372;
}

.msgBtn {
  background: #5B7789;
}

.profileBtn {
  background: #D5D583;
}





.App, html, body {
  position: relative;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.Map {
  height: 100%;
  position: relative;
}

.mapWrap {
  width: 100%;
  height: 100%;
  position: absolute;
}

.flex {
  flex-grow: 15;
  display: flex;
  position: relative;
}





.Input, .Profile {
  position: absolute;
}

.inputLabel {
  font-size: 26px;
  text-align: center;
  margin: 1rem 0rem;
}

.Input {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.23rem;
  box-sizing: border-box;
  color: whitesmoke;
}

.Input form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  
}

.Input textarea {
  border-radius: 6px;
}

.InputBtns {
  /*display: flex;*/
  flex-grow: 1;
  /*flex-direction: row;*/
  margin-top: 1.6rem;
  color: whitesmoke;
}

.InputBtns button, .InputBtns [type="submit"] {
  flex-grow: 1;
  background: transparent;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  color: whitesmoke;
  padding: .6rem 2.2rem;
  font-size: 1.2rem;
}

.messageBox {
  display: 'block';
    width: '100%';
    height: '100%';
}

.Profile {
  width: 50vw;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

